{{ csrf_input() }}
<div class="row">
    <div class="col-md-4">
        {{ field(_context, 'name', item.name, "Titre de l'article") }}
    </div>
    <div class="col-md-4">
        {{ field(_context, 'category_id', item.categoryId, "categorie", {options: categories}) }}
    </div>
    <div class="col-md-4">
        {{ field(_context, 'published', item.published, "En ligne ?", {type: 'checkbox'}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {% if item.image %}
            <img src="{{ item.thumb }}" alt="" style="width:100%;">
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ field(_context, 'image', item.slug, "Image", {type: 'file'}) }}
    </div>
    <div class="col-md-4">
        {{ field(_context, 'slug', item.slug, "Lien") }}
    </div>
</div>
        {{ field(_context, 'content', item.content, "Content", { type: 'textarea' }) }}
        {{ field(_context, 'created_at', item.createdAt, "Date de creation", {class: 'datepicker'}) }}
