{% extends 'layout.twig' %}

{% block title %}
    {% if category %}
        Categorie : {{ category.name }}{% if page > 1 %}, {{ page }}{% endif %}
    {% else %}
        Blog{% if page > 1 %}, {{ page }}{% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if category %}
        <h1>Categorie : {{ category.name }}{% if page > 1 %}, page {{ page }}{% endif %}</h1>
    {% else %}
        <h1>Bienvenue sur le blog{% if page > 1 %}, {{ page }}{% endif %}</h1>
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            {% if post.categoryName %}
                                <div class="card-header">{{ post.categoryName }}</div>
                            {% endif %}
                            {% if post.image %}
                                <img src="{{ post.thumb }}" alt="{{ post.name }}" style="width:100%;">
                             {% endif %}
                            <div class="card-body">
                                <h4>
                                    <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">{{ post.name }}</a>
                                </h4>
                                <p class="card-text">{{ post.content | excerpt | nl2br }}</p>
                                <p class="muted-text">{{ post.createdAt | ago }}</p> {# Assurez-vous que createdAt est bien un objet DateTime #}
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">voir l'article</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {# Ajouter des colonnes vides pour équilibrer la dernière ligne si nécessaire #}
                {% if posts|length % 4 != 0 %}
                    {% set remaining = 4 - (posts|length % 4) %}
                    {% for i in 1..remaining %}
                        <div class="col-md-3 mb-4"></div>
                    {% endfor %}
                {% endif %}
            </div>

            {% if category %}
                {{ paginate(posts, 'blog.category', {slug: category.slug}) }}
            {% else %}
                {{ paginate(posts, 'blog.index') }}
            {% endif %}
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                {% for c in categories %}
                    <li class="list-group-item {% if category and c.id == category.id %}active{% endif %}">
                        <a style="color:inherit;" href="{{ path('blog.category', {slug: c.slug}) }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
